@import 'blocks/mixins';
@import 'blocks/normalize';
@import 'blocks/header';
@import 'blocks/portfolio';
//@import 'blocks/media';
@import 'blocks/portfolio-serts';
@import 'blocks/footer';
@import 'blocks/btn';
//font-family: 'Roboto Condered', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #000;
}
