footer.footer
  .container
    .footer__items
      .footer__item
        h2.footer__title(class="wow bounceInLeft" data-wow-delay="0.5s") Павел Дубицкий
        .footer__subtitle(class="wow bounceInLeft" data-wow-delay="1s").
          Верстка сайтов и Front-End разработка
      .footer__item
        .footer__links(class="wow bounceIn" data-wow-delay="0.7s") Ссылки для связи:
          ul
            //- li
            //-   a(href='mailto:p.dubitskiy@ya.ru' target="_blank")
            //-     <i class="fa fa-envelope fa-inverse fa-3x"></i>
            li
              a(href="https://github.com/pullso/"  target="_blank" class="wow rollIn" data-wow-delay="1.5s")

                <i class="fa fa-github fa-inverse fa-3x"></i>
            li
              a(href="tel:+79920105554"  type="phone" class="wow rollIn" data-wow-delay="1.9s")
                <i class="fa fa-phone-square fa-inverse fa-3x"></i>
            li
              a(href="https://t-do.ru/pullso"  target="_blank" class="wow rollIn" data-wow-delay="1.7s")
                //img(src="/img/icons/telegram.svg", alt="")
                <i class="fa fa-telegram fa-inverse fa-3x"></i>

      .footer__item(class="wow fadeIn" data-wow-delay="2s" data-wow-duration="2s")
        form(action="https://vk.me/pullso_music" )
          button.footer__btn связаться Вконтакте
        form(action="https://ekaterinburg.hh.ru/resume/1591056aff06d5a0db0039ed1f357946653656" )
          button.footer__btn Резюме на HeadHunter.ru
        .footer__btn-descr Напишите мне, чтобы заказать или узнать стоимость верстки вашего проекта
  .footer__info(class="wow fadeIn")  <a href="https://t-do.ru/pullso"> by pullso 💻 2020 &copy;
</a>