header.header

  .fullscreen-bg
    .container
      //- .overlay
      .header__wrapper
        <div id="toTop"><i class="fa fa-chevron-up"></i></div>
        .header__photo(data-wow-iteration="10" class="wow pulse" data-wow-delay="2.5s" data-wow-duration="3s")
          img(src="/img/header__photo.jpeg", alt="my photo" class="wow bounceInUp")
        h1.header__title(class="wow bounceInLeft" data-wow-delay="0.5s") Павел Дубицкий
        .header__subtitle(class="wow bounceInRight" data-wow-delay="1s").
          <hr>Верстка сайтов и Front-End разработка<hr>   <span>  с применением <br>
          HTML5 CSS3 Pug Scss|Sass JS jQuery Vue.js </span>
        .header__btns
          form(action="https://vk.me/pullso_music" )
            button(class="btn wow fadeInUp" data-wow-delay="1.5s") связаться Вконтакте
          form(action="https://ekaterinburg.hh.ru/resume/1591056aff06d5a0db0039ed1f357946653656" )
            button(class="btn wow fadeInUp" data-wow-delay="1.8s") Резюме на HeadHunter.ru

        .header__links
          ul
            //- li
            //-   a(href='mailto:p.dubitskiy@ya.ru' target="_blank")
            //-     <i class="fa fa-envelope fa-inverse fa-3x"></i>
            li
              a(href="https://github.com/pullso/"  target="_blank" class="wow rollIn" data-wow-delay="2.5s")
                <i class="fa fa-github fa-inverse fa-3x"></i>
            li
              a(href="tel:+79920105554"  type="phone" class="wow rollIn" data-wow-delay="2.7s")
                <i class="fa fa-phone-square fa-inverse fa-3x"></i>
            li
              a(href="https://t-do.ru/pullso"  target="_blank" class="wow rollIn" data-wow-delay="2.9s")
                <i class="fa fa-telegram fa-inverse fa-3x"></i>
        .header__arrow
          i(class="fa fa-chevron-down" class="wow fadeOutDown" data-wow-delay="3s" data-wow-iteration="20" data-wow-duration="2s")
    <video loop="" muted="" autoplay="" poster="/img/video/Words.jpg" class="fullscreen-bg__video">
        <source src="/img/video/Words2.mp4" type="video/mp4">
        <source src="/img/video/Words.webm" type="video/webm">
    </video>



