section.portfolio-serts
  .container
    h2.portfolio__title(class="wow flipInY" data-wow-delay="0.5s") Сертификаты

    .portfolio__items

      +item("Сертификат №1","О прохождении полного курса по WEB-разработке.",'/img/portfolio/sert1.jpg','https://www.udemy.com/certificate/UC-fe0493a0-0124-4d23-a538-5c62b5903bcd/')

      +item("Сертификат №2","О прохождении полного курса по JavaScript.",'/img/portfolio/sert2.jpg','https://www.udemy.com/certificate/UC-3f63b80f-0a14-4a56-a578-ea9f4151ea51/')
