<!DOCTYPE html>
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Сайт портфолио Павла Дубицкого
      link(rel="stylesheet", href="scss/style.scss")
      //-link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
      //- <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,italic,700,700italic" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display: regular,italic,700,700italic" rel="stylesheet" />
      //- <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,italic,700,700italic" rel="stylesheet" />
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
      <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAdQVhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABABEAARAAAQEAABAAAQABAQARAAEQAAEBAAAQAAEAAQEAABAAAQAAEQARAAEQABEQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    body
      block content
      include pug/includes/header.pug
      include pug/includes/portfolio.pug
      include pug/includes/portfolio-serts.pug
      include pug/includes/footer.pug
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
      <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(60694837, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/60694837" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <script src="js/script.js"></script>


