.advantages {
  .container {
    max-width: 1000px;
  }
  .portfolio__item {
    max-width: 300px;
  }
  .portfolio__item-descr {
    padding-left: 20px;
  }
  .portfolio__title {
    @include title(42px);
    font-family: 'Playfair Display', serif;
  }
}
