.footer {
  //max-height: 400px;
  //background-color: grey;
  padding-top: 40px;
  color: white;
  background-color: black;
  min-height: 250px;
  max-height: 420px;
  padding-bottom: 20px;

  &__links {
    font-family: 'Gotham Pro', sans-serif;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 200px;
    min-width: 200px;
    text-align: center;

    ul {
      padding: 0;
      padding-top: 10px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      cursor: pointer;
    }
    a {
      display: inline-block;
      &:hover {
        border-radius: 100px;
        transform: translateY(-5px);
        transition: 0.25s;
        box-shadow: 2px 8px 20px rgba(0, 82, 194, 0.49);
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__subtitle {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 14px;
  }
  &__item {
    width: 282px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 262px;
    height: 42px;
    border: 2px solid #ffffff;
    background-color: #000;
    letter-spacing: 1.6px;
    border-radius: 2rem;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Gotham Pro', sans-serif;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      border-radius: 100px;
      transform: translateY(-5px);
      transition: 0.25s;
      box-shadow: 2px 8px 20px rgba(0, 82, 194, 0.49);
      background-color: white;
      transition: 0.5s;
      color: #0052c2;
    }

    &-descr {
      font-family: 'Gotham Pro', sans-serif;
      opacity: 0.3;
      font-size: 12px;
    }
  }

  .fa-github {
    font-size: 3.4em;
  }
  .fa-phone-square {
    font-size: 3.38em;
  }

  &__info {
    text-align: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 12px;
    }
  }
}
