.header {
  //max-height: 1050px;
  //height: 100vh;
  //background-size: 100% 100%;
  position: relative;
  overflow: hidden;

  .fa-github {
    font-size: 3.4em;
  }
  .fa-phone-square {
    font-size: 3.38em;
  }

  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  &__wrapper {
    //padding-top: 50px;
    //padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 1050px;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__photo {
    img {
      width: 200px;
      height: 200px;
      max-width: 100%;
      height: auto;
      border-radius: 100%;
      margin-top: 20px;
    }
  }
  &__title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    // padding-top: 210px;
  }
  &__subtitle {
    color: #ffffff;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    //margin-bottom: 200px;
    text-align: center;
    //  margin-bottom: 30px;
  }
  &__arrow {
    //   margin-top: 30px;
    color: #fff;
    font-size: 39px;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    left: 90%;
    transform: translateX(-50%);
    opacity: 0.7;
  }

  &__links {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 420px;
    min-width: 200px;

    ul {
      padding: 0;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      cursor: pointer;

      a {
        display: inline-block;
        cursor: pointer;
        &:hover {
          border-radius: 100px;
          transform: translateY(-5px);
          transition: 0.25s;
          box-shadow: 2px 8px 20px rgba(0, 82, 194, 0.49);
        }
      }
      li {
        min-width: 42px;
        min-height: 42px;
      }
    }
  }

  .fullscreen-bg {
    // overflow: hidden;
    // z-index: -1;
    // position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;

    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: 1;
    }
  }

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  // .overlay {
  //   //background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //   //@extend: 0.5;
  //   // background: rgba(0, 0, 0, 0.2);
  //   // position: absolute;
  //   // height: 100%;
  //   // z-index: 1;
  //   // top: 0;
  //   // left: 0;
  // }
}
